The pipeline is complete and the summary files can be found here:
{{ working_dir }}

Of the {{ n_samples }} samples {{ n_no_gtc }} did not have gtc files:

Are the idat files in the project directory?

{{ idats }}

Initial call rate:

{{ call_rate_initial }}

Contamination Rate:

{{ contamination_rate }}

idat intensity:

{{ intensity }}

Fail contamination rate:

{{ contaminated }}

Fail Call Rate:

{{ call_rate_filter }}

Sex Discordant:

{{ sex_discord }}

Expected Replicate Discordance:

{{ rep_discord }}

Unexpected Replicate:

{{ unexpected_rep }}

Identifiler Needed:

{{ identifiler }}

Number of QC Issues:

{{ issues }}
